{%extends 'base.html'%}
{%block body%}
<h2>{{owner.name}}</h2>
<table>
    <tbody>
        <tr>
            <th>Name</th>
            <th>Score</th>
            <th>Goal Differential</th>
            <th>Action</th>
        </tr>
        <tr>
            <td>Teams</td>
            <td>Owned</td>
            <td>By</td>
            <td>You</td>
        </tr>
        {%for team in teams_you%}
        <tr>
            <td>{{team.name}}</td>
            <td>{{team.score}}</td>
            <td>{{team.goal_diff}}</td>
            <td><input type="checkbox" form="manage" name="_{{team.pk}}" id="{{team.pk}}"><label for="{{team.pk}}">- Drop?</label></td>
        </tr>
        {%empty%}
        <tr>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
        </tr>
        {%endfor%}
        <tr>
            <td>Teams</td>
            <td>Owned</td>
            <td>By</td>
            <td>None</td>
        </tr>
        {%for team in teams_none%}
        <tr>
            <td>{{team.name}}</td>
            <td>{{team.score}}</td>
            <td>{{team.goal_diff}}</td>
            <td><input type="checkbox" form="manage" name="_{{team.pk}}" id="{{team.pk}}"><label for="{{team.pk}}">+ Add?</label></td>
        </tr>
        {%empty%}
        <tr>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
        </tr>
        {%endfor%}
    </tbody>
</table>
<h2>{{message}}</h2>
<form action="{% url 'standings:manage' owner.pk %}" id="manage" method='post'>
    <input type="password" name="password" placeholder="Password" required />
    {%csrf_token%}
    <input type="submit" value="Update Team" />
</form>
{%endblock%}
